@model Tms2.Models.userregistration

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>userregistration</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="User_firstname" class="control-label"></label>
                <input asp-for="User_firstname" class="form-control" />
                <span asp-validation-for="User_firstname" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="User_lastname" class="control-label"></label>
                <input asp-for="User_lastname" class="form-control" />
                <span asp-validation-for="User_lastname" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Password" class="control-label"></label>
                <input asp-for="Password" class="form-control" />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CPassword" class="control-label"></label>
                <input asp-for="CPassword" class="form-control" />
                <span asp-validation-for="CPassword" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Register" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
